<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       ">

    <context:component-scan base-package="io.terminus.pampas"/>

    <bean id="implantApp" class="io.terminus.pampas.engine.model.App">
        <property name="key" value="${key}"/>
        <property name="domain" value="${www.haier.cn}"/>
        <property name="assetsHome" value="${assetsHome}"/>
        <property name="configPath" value="${configPath}" />
    </bean>
    <bean id="setting" class="io.terminus.pampas.engine.Setting">
        <property name="mode" value="IMPLANT"/>
        <property name="implantApp" ref="implantApp"/>
        <property name="devMode" value="true"/>
    </bean>
    <bean id="baseUser" class="io.terminus.pampas.common.BaseUser">
        <property name="id" value="${userId}"/>
        <property name="name" value="${userName}"/>
        <property name="nickName" value="${userNickName}" />
    </bean>

    <dubbo:application name="watcher"  />
    
    <dubbo:registry address="${dubboRegistry}" default="true"/>
    <dubbo:protocol name="dubbo" port="${dubboPort}" threads="10" heartbeat="100000"/>

</beans>