<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       ">


    <context:component-scan base-package="io.terminus.pampas,com.will.watcher"/>

    <bean id="setting" class="com.will.watcher.util.Setting">
        <property name="assetsHome" value="${assetsHome}"/>
        <property name="dataHome" value="${dataHome}"/>
        <property name="sourceHome" value="${sourceHome}"/>
        <property name="showRequest" value="${showRequest}"/>
    </bean>

    <bean id="baseUser" class="io.terminus.pampas.common.BaseUser">
        <property name="id" value="${userId}"/>
        <property name="name" value="${userName}"/>
        <property name="nickName" value="${userNickName}" />
    </bean>

    <dubbo:application name="watcher"/>
    
    <dubbo:registry address="${dubboRegistry}" default="true"/>
    <dubbo:protocol name="dubbo" port="${dubboPort}" threads="10" heartbeat="100000"/>

</beans>